{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="menu">
            <li><a href={% url 'webapp:index' %}>Home</a></li>

            {% if request.user.is_authenticated %}
                {% if perms.webapp.add_product %}
                    <li><a href={% url 'webapp:product_create' %}>Create</a></li>
                {% endif %}
                {#                <li><a href="{% url 'accounts:detail' request.user.pk %}">#}
                {#                    Привет, {{ request.user.get_full_name|default:request.user.username }}#}
                {#                </a></li>#}
                <li><a href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">Logout</a></li>
                {% block menu %}{% endblock %}
            {% else %}
                <li><a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Login</a></li>
                <li><a href="{% url 'accounts:create' %}?next={{ request.get_full_path }}">Sign Up</a></li>
                <li><a href="{% url 'accounts:password_reset_email' %}">Reset password</a></li>

            {% endif %}
        </ul>
        {% block search %}
            <div class="search-form">
                <form action="{% url 'webapp:index' %}" method="GET">
                    {{ search_form.search }}
                    <input type="submit" value="Найти">
                </form>
            </div>
        {% endblock %}
    </div>
</nav>
<div class="container">
    {% include "partial/messages.html" %}
    {% block content %}{% endblock %}
</div>
</body>
</html>