{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
    <form action="{% url 'product_search' %}" method="get" class="search-form">
        <input type="search" placeholder="Введите название" name="searching">
        <button type="submit">Search</button>
    </form>
    <h1>Товары:</h1>
    {% for product in products %}
        {% if product.amount > 0 %}
            <h3><a href="{% url "product_view" product.pk %}">{{ product.name }}</a></h3>
            <p>Категория: {{ product.get_category_display }} </p>
            <p>Цена: {{ product.price }} сом</p>
            <p><a href="{% url 'product_update' product.pk %}">Update</a></p>
            <p><a href="{% url 'product_delete' product.pk %}">Delete</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}
