{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_product %}
        <li><a href="{% url 'webapp:product_update' product.pk %}">Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_product %}
        <li><a href="{% url 'webapp:product_delete' product.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>{{ product.name }}</h3>
    <p>Категория: {{ product.get_category_display }}</p>
    <p>Осталось: {{ product.amount }} по | {{ product.price }} сом</p>
    <p>Описание: </p> <pre>{{ product.description }}</pre>
{% endblock %}
