{% extends 'base.html' %}
{% block title %}Result of Search{% endblock %}
{% block content %}
    <h1>Result of Search</h1>
    {% for product in products %}
        <h3>{{ product.name }}</h3>
        <p>Категория: {{ product.get_category_display }}</p>
        <p>Осталось: {{ product.amount }} по | {{ product.price }} сом</p>
        <p>Описание: </p> <pre>{{ product.description }}</pre>
        <a href="{% url 'product_update' product.pk %}">Update</a>
        <a href="{% url 'product_delete' product.pk %}">Delete</a>
    {% endfor %}
{% endblock %}