{% extends "base.html" %}
{% block title %}Delete Product{% endblock %}
{% block menu %}
    <li><a href="{% url 'product_view' product.pk %}">Cancel</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete product "{{ product.name }}"?</h1>
    <form action="{% url "product_delete" product.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        <p><a href="{% url "product_view" product.pk %}">Cancel</a></p>
    </form>
{% endblock %}